.installment-wrapper {
    width: 100%;
    min-height: calc(100vh - 412px);
    background: #fff;
    display: flex;
    justify-content: center;
}

.installment-container {
    width: 60%;

}

.installment-header {
    display: flex;
}

.installment-header-left {
    width: 100%;

}

.installment-header-title {
    font-size: 22px;
    font-weight: 700;
}

.installment-header-left img {
    width: 100%;
    max-width: 300px;
    height: 100%;
    max-height: 350px;
}

.installment-header-right .header-right-star {
    width: max-content;
    border-bottom: 1px solid #D9D9D9;
}

.installment-price {
    margin-top: 20px;
    font-weight: 600;
}

.btn-btn-installment {
    cursor: pointer;
    width: 300px;
    border: 1px solid #1A16EE;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border-radius: 8px;
}

.btn-btn-installment:hover {
    background-color: #D9D9D9;
}
