.product-detail-wrapper {
    background-color: #ffffff;
    width: 100%;
    padding: 80px 120px 80px 120px;
}

.product-detail-wrapper .product-detail-header {
    width: 100%;
    display: flex;
}

.product-detail-header .pd-header-left {
    width: 40%;
    height: 100%;
}

.product-detail-header .pd-header-right {
    flex: 1;
}

.pd-header-left .pd-header-left-image {
    width: 100%;
    padding: 30px;
    flex: 1;
    display: flex;
    justify-content: center;
}

.pd-header-left-image .header-left-image-product img {
    min-height: 450px;
    min-width: 350px;
    width: 100%;
    height: 100%;

}

.pd-header-left .pd-header-left-detail {
    width: 100%;
    height: 100px;
}

.item-left-detail img {
    width: auto;
    height: auto;
}


.pd-header-right .header-right-feedback {
    width: max-content;
    padding-bottom: 10px;
    border-bottom: 1px solid #D9D9D9;
}

.pd-header-right .product-detail-price {
    padding-top: 10px;
    font-size: 20px;
}

.product-detail-capacity {
    font-size: 16px;
}


.product-detail-capacity-list .product-detail-capacity-item {
    background: #F3F3F3;
    border-radius: 10px;
    width: max-content;
    padding: 10px;
    cursor: pointer;
    margin-right: 30px;
}

.product-detail-color-list .product-detail-color-item {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.product-detail-color-list .product-detail-color-item:nth-child(1) {
    background-color: #811F77;
}

.product-detail-color-list .product-detail-color-item:nth-child(2) {
    background-color: #000000;
}

.product-detail-color-list .product-detail-color-item:nth-child(3) {
    background-color: #F4F59D;
}

.product-detail-color-list .product-detail-color-item:nth-child(4) {
    background-color: #F3F3F3;
}



.product-detail-header-extra {
    padding-left: 70px;
}



/** mô tả sản phẩm **/
.product-detail-describe {
    padding-left: 70px;
    margin-top: 10px;
    width: 100%;
}

.product-detail-describe .product-detail-describe-title {
    font-size: 25px;
    width: max-content;
    border-bottom: 1px solid #8D8D8D;
    font-weight: 700;
}

.describe-item-ul {
    list-style-type: disc;
}


/**thông số kỹ thuật**/
.product-detail-specifications-title {
    width: max-content;
    padding-bottom: 3px;
    border-bottom: 1px solid #8D8D8D;
}


.product-detail-specifications-box {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.product-detail-specifications-box .product-detail-specifications-main {
    width: 40%;
    height: 100%;
    background-color: #F3F3F3;
    padding: 20px;
}


.item-product-detail-specifications>div:first-child {
    font-weight: 600;
}


/**comment**/
.product-detail-comment-avatar {
    width: 30px;
    height: 30px;
}

.product-detail-comment-avatar img {
    width: 100%;
    height: 100%;
}

.product-detail-comment-box {
    width: 100%;
}

.product-detail-comment-input {
    min-width: 500px;
}
